@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dela Gothic One', cursive;
}

.container{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.primo{
    background-color: red;
}

.secondo{
    background-color: green;
}

.terzo{
    background-color: yellow;
}

.elemento{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    display: block;
    margin: 0px auto;
}

.container .text{
    font-size: 65px;
    text-align: center;
    color: yellow;
    text-transform: uppercase;
}

.terzo .text{
    color: green;
}

nav{
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 1;
}

.menu{
    background-color: white;
    border-radius: 50%;
    padding: 20px 25px;
    margin: 30px;
    text-decoration: none;
    box-shadow: 5px 5px rgba(0, 0, 0, .5);
}